<div id="messages-list" class="messages-list">
    <h5>To <span ng-if="chat.from._id == user_id">{{ chat.to.name }}</span><span ng-if="chat.to._id == user_id">{{ chat.from.name }}</span></h5>
    <div class="message-container" ng-repeat="message in messages" finish-render>
        <div class="message" ng-class="{ 'sent' : user_id == message.from._id }">
            <span class="user-avatar"></span>
            <div class="content">{{ message.content }}</div>
        </div>
    </div>
</div>
<form class="message-editor" ng-submit="send()">
    <file-uploader data-config="config"></file-uploader>
    <i class="icon icon-plus"></i>
    <input type="text" name="message" class="form-control" placeholder="Type something..." ng-model="newMessage" />
    <input type="submit" class="btn btn-default btn-small" value="Send" />
</form>