<div class="users-list">
    <div class="user-search">
        <span class="icon-search"></span>
        <input type="text" class="form-control" placeholder="Search..." ng-change="search()" ng-blur="hide()" ng-model="keyword" />
        <div id="retrieved-users">
            <i class="close icon-cancel" ng-click="hide()"></i>
            <ul class="users">
                <li ng-repeat="user in users">
                    <span class="user-avatar"></span>
                    <span>{{ user.name }}</span>
                </li>
            </ul>
        </div>
    </div>
    <ul class="users">
        <li ng-repeat="chat in chats">
            <a ui-sref="chat.details({ id : chat._id })" ui-sref-active="active">
                <span class="user-avatar"></span>
                <span ng-if="chat.from._id != user_id">{{ chat.from.name }}</span>
                <span ng-if="chat.to._id != user_id">{{ chat.to.name }}</span>
                <span class="chat-date pull-right">{{ chat.last_message | date:'MM/dd/yyyy' }}</span>
            </a>
        </li>
    </ul>
</div>