<div id="file-uploader">
    <i class="close icon-cancel" ng-click="close()"></i>
    <div class="uploader-fields">
        <div id="image-upload"></div>
        <div id="progress-bar" class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
        </div>
    </div>
    <div>
        <div class="arrow-tip"></div>
        <div class="arrow-outline"></div>
    </div>
</div>
<i class="icon icon-attach" ng-click="attach()"></i>
<input ng-show="field" type="file" name="{{ file_name }}" class="input-fileupload" multiple>